.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-group-1 {
  width: 775px;
  min-height: 654px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: bold;
  margin: 15px auto 0;
}

.u-section-1 .u-form-1 {
  height: 361px;
  width: 570px;
  margin: 69px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  width: 100px;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 28px 6px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 78px;
  }
}