.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-c5a2-4 {
  font-weight: 700;
  background-image: none;
}